@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@700&display=swap');

html{
    box-sizing: border-box;
    font-size: 10px;

    --pink: hsl(322, 100%, 66%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

    --font-poppins: 'Poppins', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-open-sans);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
}

.navbar-brand{
    width: 10rem;
}

.navbar-btn{
    font-family: var(--font-open-sans);
    font-size: 1rem;
    color: var(--pink);
    border: .1rem solid var(--pink);
    border-radius: 5rem;
    width: 9rem;
    padding: .5rem 0;
    outline: none;
    background-color: transparent;
}

.navbar-btn:hover{
    background-color: var(--pink);
    color: white;
}

.intro{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 7rem;
    justify-items: center;
    padding: 10rem 2rem 15rem;
    background: url(./images/bg-section-top-mobile-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}

.intro-top{
    text-align: center;
    max-width: 45rem;
}

.intro-heading{
    font-family: var(--font-poppins);
    font-size: 2.6rem;
    margin-bottom: 2.5rem;
    color: var(--very-dark-cyan);
}

.intro-text{
    font-size: 1.3rem;
    margin-bottom: 4rem;
    color: var(--very-dark-cyan);
    padding: 0 2rem;
    line-height: 1.5;
}

.btn-primary{
    width: 22rem;
    height: 4rem;
    color: white;
    text-transform: capitalize;
    background-color: var(--pink);
    border: none;
    border-radius: 5rem;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: var(--font-open-sans);
    font-weight: bold;
    box-shadow: 1px 4px 5px gainsboro;
}

.btn-primary:hover{
    opacity: .7;
}

.intro-image{
    width: 90%;
}

.counter-count{
    font-size: 5rem;
    font-weight: 700;
    color: var(--very-dark-cyan);
}

.counter-desc{
    font-size: 1.3rem;
    color: gray;
    text-align: center;
}

.grow-together{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 7rem;
    justify-items: center;
    padding: 7rem 2rem 2rem;
    background-color: var(--very-pale-blue);
    position: relative;
}

.section-illustration{
    width: 80%;
    max-width: 45rem;
}

.section-text{
    max-width: 45rem;
    text-align: center;
}

.section-heading{
    font-family: var(--font-poppins);
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: var(--very-dark-cyan);
}

.section-desc{
    font-size: 1.3rem;
    margin-bottom: 4rem;
    color: var(--very-dark-cyan);
    padding: 0 2rem;
}

.flowing-conversation{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 7rem;
    justify-items: center;
    padding: 20rem 2rem 18rem;
    background: url(./images/bg-section-bottom-mobile-1.svg), url(./images/bg-section-top-mobile-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top, left bottom;
}

.your-users{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 7rem;
    justify-items: center;
    padding: 2rem 2rem 7rem;
    background-color: var(--very-pale-blue);
    position: relative;
}

.get-started{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-items: center;
    padding: 20rem 2rem 25rem;
    background: url(./images/bg-section-bottom-mobile-2.svg), url(./images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top, left bottom;
}

.footer{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-items: center;
    background-color: var(--very-dark-cyan);
    position: relative;
}

.newsletter{
    padding: 5rem 2rem;
    max-width: 45rem;
}

.newsletter .section-heading{
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.newsletter .section-desc{
    color: #FFF;
    padding: 0;
    font-weight: bold;
    line-height: 1.8;
}

.newsletter-form{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.newsletter-input{
    width: 100%;
    height: 4rem;
    padding: 0 2rem;
    border: none;
    border-radius: .5rem;
    font-family: var(--font-open-sans);
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.newsletter-btn{
    width: 50%;
    height: 4rem;
    font-family: var(--font-open-sans);
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    background-color: var(--pink);
    border-radius: .5rem;
    border: none;
}

.contact{
    padding: 3rem 2rem 5rem;
    color: white;
    max-width: 45rem;
}

.footer-logo svg{
    transform: scale(.7);
    margin-left: -3rem;
}

.contact-text{
    font-size: 1.3rem;
    line-height: 1.8;
    margin: 1rem 0 3rem 0;
    font-weight: bold;
}

.contact-info{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.contact-info img{
    margin-right: 2rem;
}

.contact-info span{
    font-size: 1.3rem;
}

.social-links{
    list-style: none;
    display: flex;
    justify-content: start;
    margin-top: 5rem;
}

.social-link-item{
    margin-right: 2rem;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link-item:last-child .social-link{
    background-color: white;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: .2rem;
}

.social-link-item:last-child .social-link svg{
    transform: scale(.7);
}

@media (min-width: 800px){
    .navbar{
        padding: 3rem 5rem;
    }


    .intro{
        grid-template-columns: repeat(7, 1fr);
        row-gap: 5rem;
        background: url(./images/bg-section-top-desktop-1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left bottom;
    }
    .intro-top{
        grid-area: 1 / 2 / 2 / 7;
        max-width: 100%;
    }
    .intro-text{
        max-width: 45rem;
        margin: 0 auto 4rem;
    }
    .intro-image{
        grid-area: 2 / 2 / 3 / 7;
        width: 100%;
    }
    .counter-left{
        grid-area: 3 / 2 / 4 / 4;
    }
    .counter-right{
        grid-area: 3 / 5 / 4 / 7;
    }

    .grow-together{
        grid-template-columns: repeat(11, 1fr);
        row-gap: 0;
        align-items: center;
        padding: 4rem 0 3rem;
    }
    .grow-together .section-illustration{
        grid-area: 1 / 7 / 2 / 11;
    }
    .grow-together .section-text{
        grid-area: 1 / 2 / 2 / 6;
    }
    .section-illustration{
        width: 100%;
        max-width: 45rem;
    }
    .section-text{
        max-width: 100%;
        text-align: left;
    }
    .section-heading{
        margin-bottom: 1.5rem;
    }
    .section-desc{
        margin-bottom: 0;
        padding: 0;
    }


    .flowing-conversation{
        grid-template-columns: repeat(11, 1fr);
        row-gap: 0;
        align-items: center;
        padding: 17rem 0 15rem;
        background: url(./images/bg-section-bottom-desktop-1.svg), url(./images/bg-section-top-desktop-2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top, left bottom;
    }
    .flowing-conversation .section-illustration{
        grid-area: 1 / 2 / 2 / 6;
    }
    .flowing-conversation .section-text{
        grid-area: 1 / 7 / 2 / 11;
    }


    .your-users{
        grid-template-columns: repeat(11, 1fr);
        row-gap: 0;
        align-items: center;
        padding: 2rem 0 1rem;
    }
    .your-users .section-illustration{
        grid-area: 1 / 7 / 2 / 11;
    }
    .your-users .section-text{
        grid-area: 1 / 2 / 2 / 6;
    }


    .get-started{
        padding: 15rem 2rem 18rem;
        background: url(./images/bg-section-bottom-desktop-2.svg), url(./images/bg-footer-top-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top, left bottom;
    }
    .get-started .section-text{
        text-align: center;
    }


    .footer{
        grid-template-columns: repeat(13, 1fr);
        row-gap: 0;
        align-items: start;
        padding: 5rem 0;
    }
    
    .newsletter{
        padding: 5rem 2rem;
        max-width: 100%;
        grid-area: 1 / 8 / 2 / 13;
    }

    .newsletter-form{
        margin-top: 2rem;
    }

    .contact{
        grid-area: 1 / 2 / 2 / 7;
        max-width: 100%;
    }
}

@media (min-width: 1200px){
    .navbar{
        padding: 5rem;
    }

    .navbar-brand{
        width: 15rem;
    }
    
    .navbar-btn{
        font-size: 1.6rem;
        font-weight: bold;
        width: 15rem;
        padding: 1rem;
    }   


    .intro{
        padding-bottom: 20rem;
    }
    .intro-heading{
        font-size: 4rem;
    }
    .intro-text{
        font-size: 1.8rem;
        max-width: 60rem;
        line-height: 1.5;
    }
    .btn-primary{
        width: 30rem;
        height: 5rem;
        font-size: 1.8rem;
    }
    .counter-count{
        font-size: 7rem;
    }
    .counter-desc{
        font-size: 1.8rem;
    }


    .section-heading{
        font-family: var(--font-poppins);
        font-size: 3rem;
        margin-bottom: 2.5rem;
        color: var(--very-dark-cyan);
    }
    .section-desc{
        font-size: 1.6rem;
    }


    .flowing-conversation{
        padding: 25rem 0 22rem;
    }


    .get-started{
        padding: 25rem 2rem 28rem;
    }

    .footer{
        margin-top: -.1rem;
    }


    .newsletter .section-heading{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .newsletter .section-desc{
        padding-right: 20rem;
        font-weight: normal;
        line-height: 1.5;
        font-size: 1.3rem;
    }
    .newsletter-form{
        flex-direction: row;
        justify-content: space-between;
    }
    .newsletter-input{
        width: 60%;
        margin-bottom: 0;
    } 
    .newsletter-btn{
        width: 35%;
    }
    .contact{
        grid-area: 1 / 2 / 2 / 5;
    }
    .contact-text{
        font-size: 1.3rem;
        line-height: 1.5;
        font-weight: normal;
    }
}